html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #f0f8ff; /* Sayfanın arka plan rengi */
}

/* Header (navbar) için özel renk */
.bg-custom-header {
  background-color: #1fa69c; /* Header için özel arka plan rengi */
}

/* Navbar içindeki bağlantıların (linklerin) rengi */
.navbar-nav .nav-link {
  color: white !important; /* Navbar bağlantılarının rengi beyaz */
}

.navbar-nav .nav-link:hover {
  color: #258cfb !important; /* Navbar bağlantıları üzerine gelince mavi renk */
}
